.column {
  width: 350px;
  float: left;
  border: 2px solid rebeccapurple;
  padding: 6px;
  margin: 20px;
  background-color: #1f2833;
  color: #c5c6c7;
}

/*  trying to put D logo image over main image ..failled   */
.MainUnderImage {
  position: relative;
  top: 0;
  left: 0;
}

.LogoImage {
  position: absolute;
  top: 60px;
  left: 80px;
}

/* TEXT positioning and centering on wecome to delani studio */
.welcome {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered3 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* text align centre on services and aboutus */
.page2 {
  text-align: center;
}

/* services  */
/* Container holding the image and the text */
.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 150px;
  right: 20px;
  background-color: transparent;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
body {
  font-family: sans-serif;
  overflow-x: hidden;
}
.landing-page{
    background-image: url('../img/main.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;     
    height:130vh;
    text-align: center;          
}
#logo  {
  padding-top: 250px;
}

#lp {
  color: white;    
  text-transform: uppercase; 
  text-align: center;  
  width: 100%; 
}

#mouseClick {
  animation: bounce 2s infinite;
  padding-top: 160px;
}